:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

a {
  color: inherit;
  text-decoration: none;
}

.card-container {
  display: flex;
  flex-direction: column;
  text-align: center;

  color: #1d1d1d;
  font-size: 13px;
  letter-spacing: .3px;
  font-weight: 300;
  font-family: poppins, lato, calibri, open-sans, arial, sans-serif;
}

.product-price {
  color: #717171;
}

/* default screen size */
.container-gallery {
  display: grid; 
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
}

/* large tablet screen size */
@media screen and 
      (min-width: 768px) and 
      (max-width: 1159px) {
        .container-gallery {
          grid-template-columns: repeat(4, 1fr);
        }
}

/* small tablet screen size */
@media screen and 
      (min-width: 567px) and 
      (max-width: 767px) {
        .container-gallery {
          grid-template-columns: repeat(3, 1fr);
        }
}

/* mobile screen size */
@media screen and 
      (max-width: 575px) {
        .container-gallery {
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }
}

/* .product-image {

} */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%; /* Ensures image doesn't exceed parent width */
  height: auto;    /* Adjusts height proportionally to maintain aspect ratio */
}