:root {
  --foreground: #ffffff;
}

.container-gallery {
  display: grid; 
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

/* .product-image {

} */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%; /* Ensures image doesn't exceed parent width */
  height: auto;    /* Adjusts height proportionally to maintain aspect ratio */
}